# SPDX-License-Identifier: GPL-2.0-only

config FINGERPRINT_ET520
	tristate "et520xx fingerprint sensor support"
	depends on SPI_MASTER
	help
	  support et520xx
	  This driver can also be built as a module.  If so, the module
	  will be called et523
